.team-section {
  background: linear-gradient(to bottom, #2ecc71 50%, #ffffff 50%);
  padding: 60px 20px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Team-container{
  width: 100%;
}

.team-section h2 {
  color: var(--background-white);
  font-size: var( --font-2xxl);
  margin-bottom: var(--space-xm);
}

.team-section p {
  color: #dfffe6;
  margin-bottom: var(--space-xxl);
  font-size: var(--font-md);
}

.team-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.team-card {
  background: var(--background-white);
  border-radius: var(--radius-ll);
  box-shadow: var(--shadow-md);
  width: 280px;
  padding-bottom: 20px;
  transition: transform 0.3s ease;
}

.team-card:hover {
  transform: translateY(-10px);
}

.team-card img {
  width: 100%;
  border-top-left-radius: var(--radius-ll);
  border-top-right-radius: var(--radius-ll);
}

.team-card h3 {
  margin: 15px 0 5px;
  font-size: var(--font-lg);
  color: var(--primary-color);
}

.team-card span {
  font-size: var(--font-sm);
  color: var(--secondary-color);
  display: block;
  margin-bottom: var(--space-xm);
}
.Enquiry-btn{
    margin-top: var(--space-xm);
}
.team-card p {
  font-size: var(--font-xs);
  color: var(--des-color);
  padding: 0 var(--space-md);
  margin-bottom: var(--space-md);
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-icons a {
  color: #2ecc71;
  font-size: var(--font-lg);
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #27ae60;
}
