.button {
  border: none;
  background-color: var(--text-light);
  color: var(--secondary-color);
  font-weight: var(--font-bold);
  padding: var(--space-md) var(--space-xl);
  text-transform: uppercase;
  letter-spacing: 1px;
  
  border-radius: var(--radius-md);
  transition: all 0.3s ease;
}

.round {
  border-radius: 50%;
  padding: var(--space-sm);
}

.square {
  border-radius: 0;
}

.submit_bt,
.submit_bt_mobile {
  background: linear-gradient(to right, #4dbbff, #6cff5f) !important;
  color: var(--text-light) !important;
  font-weight: var(--font-bold);
  padding: var(--space-sm) calc(var(--space-sm) * 1.5);
  border-radius: var(--radius-sm);
  font-size: var(--font-sm);
  border: none;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  transition: background 0.4s ease;
}

.learnmore {
  font-size: var(--font-sm) !important;
}

.submit_bt span,
.submit_bt_mobile span {
  display: inline-block;
  transition: transform 0.4s ease, opacity 0.4s ease;
  margin: 0 !important;
  color: var(--text-light) !important;
  font-size: var(--font-sm) !important;
}

.submit_bt:hover span,
.submit_bt_mobile:hover span {
  animation: slideOutIn 0.6s forwards;
}

.submit_bt:hover,
.submit_bt_mobile:hover {
  background: linear-gradient(to left, #0493ec, #01d073) !important;
}

@keyframes slideOutIn {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  40% {
    transform: translateX(-120%);
    opacity: 0;
  }
  41% {
    transform: translateX(120%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .submit_bt span{
    font-size: var(--font-xs) !important;
  }
}
