.card-img-top {
  object-fit: cover;
  
}
.preview-container{
    min-height: 100px;
}
.course-image{
  padding: var(--space-xl);
   box-shadow: 0px 6px 34px rgba(215, 216, 222, 0.41) !important;
   border:none
}
.nav-link.active{
  background-color: var(--hover-color) !important;
}
.course-nav{
 box-shadow: 0px 6px 34px rgba(215, 216, 222, 0.41) !important;
}
#overview{
   box-shadow: 0px 6px 34px rgba(215, 216, 222, 0.41) !important;
   border: none;
}
#coursecontent{
  box-shadow: 0px 6px 34px rgba(215, 216, 222, 0.41) !important;
   border: none;
   position: relative;
}
#overview h4,h5{
  font-weight: var(--font-bold);
  color: var(--primary-color);
}
#coursecontent h4,h5{
    font-weight: var(--font-bold);
  color: var(--primary-color);
}
#coursecontent button{
  outline: none;
}
#coursecontent button:focus{
  outline: none;
  border: none;
  box-shadow: none;
}

#overview p,#coursecontent p{
  color: var(--secondary-color);
  font-weight: var( --font-regular);
  line-height:1.5;
  font-size: var(--font-md);
}
.span-show{
   cursor: pointer;
    color:var(--link-color); 
    display: inline-block; 
    font-size: var(--font-sm);
    font-weight: var(--font-medium)
}
.accordion-item{
  border: none !important;
  padding:var(--space-md);
}
.accordion-item button{
  font-size: var(--font-lg);
  font-weight: var(--font-bold);
  color: var(--primary-color);
  padding: 0rem !important;
}
.accordion-button:not(.collapsed){
  background-color: transparent !important;
  color:var(--hover-color)!important
}
.course-nav ul{
  padding: 10px;
   border: none !important;
  border-radius: 30px !important;
  
  display: flex;
    justify-content: space-between;
    margin: -3px;
    flex-wrap: wrap;
    gap:5px;
}
.course-nav ul li{
  background-color: #dddfe0;
  border-radius: 30px;

}
.course-nav ul li a{
  color: var(--primary-color);
  font-weight:var(--font-semibold);
}
.courseDeatil{
  position: relative;
 background: linear-gradient(to bottom right, #e6f0ff, #f8e8ff);
  margin-top: 80px;
  min-height: 490px;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 80px 0;
}
.enroll-card::before {
    content: "";
    z-index: -1;
    top: 3px;
    left: 3px;
    position: absolute;
    background: #fff !important;
        width: calc(100% - 6px);
    height: calc(100% - 6px);
  border-radius: 6px;
    /* border-radius: var(--radius); */
}
.enroll-card{
  top: 80px !important;
  z-index: 10;
  border: none !important;
  background: linear-gradient(-145deg, #4dbbff, #6cff5f) !important
  
}
.enroll-card button{
  font-size: var(--font-md);
  text-transform: none !important;
  
}

.enroll-card {
  margin-top: -400px;
}

.courseDeatil img{
  position: absolute;
  height: 100%;
  width: 100%;
  left:0;
  top:0;
}
.sub-container .content {
    position: relative;
    z-index: 2;
    padding-right: 10%;
}
.sub-container .content ul{
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.feather-chevron-right:before {
    content: "\e930";
}

.nav-link.active{
  border-radius: 30px;
}

.page-list {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0;
  margin-bottom: 20px;
  list-style: none;
}

.page-list li {
  font-weight: var(--font-medium);
  color: var(--des-color);
}

.page-list li a {
  color: var(--des-color);
  text-decoration: none;
  font-size: medium;
  font-weight: var(--font-medium);
}
.btn-primary{
  background-color: var(--link-color) !important;
  font-size: var(--font-md) !important;
}
.btn-primary:hover{
  background-color: var(--hover-color) !important;
}
tbody tr td{
  color: var(--des-color) !important;
  font-weight: var( --font-semibold);
}
.table-sm>:not(caption)>*>* {
  padding: 1rem 0.25rem;
}
.enroll-buttons.btn-outline-primary{
  padding: 16px 24px !important;
  font-size: var(--font-md) !important;
}
.btn-outline-primary:hover{
   background-color: var(--hover-color) !important;
   color: var(--text-light) !important;
}
.social-icon a{
  /* padding: 1rem !important; */
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none !important;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1.5px solid #e6e3f1 !important;
}

.page-list li.active {
  color: var(--primary-color);
  font-weight: var(--font-bold);
}
.card-img-top{
  height: 100%;
} 
/* Chevron icon */
.icon-right i {
  font-size:var(--font-sm);
  color: var(--des-color);
}

/* Heading style */
.title {
  font-size: 4.2rem;
  font-weight: var(--font-xbold);
  color: var(--primary-color);
  margin: 20px 0px;
}

/* Description */
.description {
  font-size: var(--font-lg);
  line-height: 1.7;
  color: var(--secondary-color);
  margin-bottom: 30px;
}

/* Meta Info */
.rbt-meta {
  display: flex;
  gap: 24px;
  padding-left: 0;
  list-style: none;
  margin-top: 20px;
}

.rbt-meta li {
  display: flex;
  align-items: center;
  font-size: var(--font-md);
  font-weight: var(--font-regular);
  color: var(--secondary-color);
}

.rbt-meta li i {
  margin-right: 8px;
  font-size: var(--font-lg);
}
.btn-outline-primary:active {
  background-color: transparent !important;

}
.btn-outline-primary{
  font-size: var(--font-sm);
  font-weight: var(--font-bold);
}

 @media (max-width: 1200px){
  .enroll-card{
   margin-top: 0px;
  

  }
  .course-page .col-lg-4{
    width: 100% !important;
  }
  .course-page .col-lg-8{
    width: 100% !important;
  }
  .card-img-top{
    height: 100% !important;
  }
  .badge{
    word-wrap: break-word;
     display: inline-block;
     white-space: normal;
  
  
  }
  @media (max-width:768px){
    .accordian-list-item{
      text-align: left;
    }
    .course-image{
    padding: 0px !important;
    }
  }
  @media (max-width:420px){
    .title{
      font-size: 3.5rem !important;
    }
  }

  
}