.slider-container {
  width: 100%;
  max-width: 1100px;
  height: auto;
  margin: 0 auto;
  /* padding: 2rem 0; */
  box-shadow: rgba(99, 99, 99, 0.2) 8px 8px 16px 4px;
  margin-top: var(--font-xl);
  border-radius: var(--radius-ll);
}
.Slide-head{
  
  margin-top: var(--space-xl);
  
}
.Slide-head h2{
  font-size: var(--font-3xl) !important;
  font-weight: var(--font-xbold) !important;
  color: var(--primary-color);
  text-align: center;
}

.slide-image {
  width: 100%;
  aspect-ratio: 2 / 1; /* keeps 1095:550 proportion */
  border-radius: var(--radius-lg);
  background-size: cover;
  background-position: center;
  position: relative;
  box-shadow: var(--shadow-ml);
}
.slide-image img {
  width: 100%;
  height: auto;
  border-radius: var(--radius-lg);
  object-fit: cover;
}


.slide-caption {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 1rem;
  bottom: 1rem;
  left: 1rem;
  color: white;
  /* background: rgba(0,0,0,0.5); */
  padding: 0.5rem 1rem;
  border-radius: var(--radius-md);
  font-weight: var(--font-semibold);
}
@media(max-width:1000px){
  .slider-container{
    max-width: 900px;
  }


}
@media (max-width: 768px) {
  .slider-container {
    padding: var(----space-md) 0;
    width: 95% !important;
    /* max-width: 700px; */
  }
  

  .Slide-head h2 {
    font-size: var(--font-2xl) !important;
  }

  /* .slide-image {
    height: 400px;
  } */

  .slide-caption {
    font-size: var(--font-md);
    gap: 0.5rem;
    padding: 0.4rem 0.8rem;
  }
}

/* -------------------------- */
/* 📱 Very Small Devices */
/* -------------------------- */
@media (max-width: 480px) {
  .Slide-head h2 {
    font-size: var(--font-xl) !important;
  }

  .slide-image {
    height: 180px;
  }

  .slide-caption {
    font-size: var(--font-md);
    /* flex-direction: column; */
    align-items: flex-start;
    gap: 0.3rem;
  }
  .slide-caption button{
    padding: var(--space-xxs) !important;
  
  }
}
