.footer {
	background: var(--background-light);
	padding: var(--space-2xl) var(--space-md);
	font-family: 'Segoe UI', sans-serif;
}

.footer-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 1300px;
	margin: 0 auto;
}

.footer-section {
	flex: 1 1 200px;
	margin: var(--space-md);
	min-width: 200px;
}

.footer-logo {
	width: 120px;
	margin-bottom: var(--space-md);
}

.footer-section p {
	color: var(--des-color);
	font-size: var(--font-sm);
	line-height: 1.7;
}

.footer-section h3 {
	font-weight: var(--font-bold);
	font-size: var(--font-md);
	margin-bottom: var(--space-md);
	color: var(--primary-color);
}

.footer-section ul {
	padding: 0;
	list-style: none;
}

.footer-section ul li a {
	color: var(--secondary-color);
	text-decoration: none;
	display: block;
	margin-bottom: var(--space-xs);
	font-size: var(--font-md);
	transition: 0.3s;
}

.footer-section ul li a:hover {
	color: var(--link-color);
}

.footer-socials a {
	display: inline-block;
	background: var(--background-light);
	border-radius: 50%;
	padding: var(--space-xs);
	margin-right: var(--space-xs);
	color: var(--secondary-color);
	transition: all 0.3s ease;
	font-size: var(--font-sm);
}

.footer-socials a:hover {
	background: var(--hover-color);
	color: var(--text-light);
    cursor: pointer;
}

.contact-btn {
  display:flex;
  align-items: center;
  padding:var( --space-mx) var(--space-lg);
  font-size: var(--font-sm);
  margin-top: var(--space-xm);
  /* border-radius: 10px; */
  font-weight: var(--font-semibold);
  border-radius: var(--radius-xl);
  background: transparent;
  transition: all 0.4s ease-in-out;
  border: none;

  background: linear-gradient(to right, #4dbbff, #6cff5f);
  color: var( --text-light);
  cursor: pointer;
  
}
.send-feedback{
  border-radius: var( --space-xss) !important;
  margin-top: 0px !important;
}


.text-wrapper {
  display: inline-flex;
  align-items: center;
  position: relative;
}

.arrow {
  display:flex;
    align-items: center;
  width: 0;
  opacity: 0;
  transform: translateX(-10px);
  transition: all 0.4s ease;
  /* color:black; */
  background: var(--primary-color);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.arrow.after {
  width: auto;
  opacity: 1;
  transform: translateX(0);
  margin-left: var(--space-xss);
}

.contact-btn:hover .arrow.after {
  opacity: 0;
  width: 0;
  transform: translateX(40px);
  margin-left: 0;
}

.contact-btn:hover .arrow.before {
  opacity: 1;
  width: auto;
  transform: translateX(0px);
  margin-right: 6px;
}
.footer-text{
    text-align: center;
    color: var(--teritary-color);
}




/* Responsive Design */
@media screen and (max-width: 768px) {
	.footer-container {
		flex-direction: column;
		align-items: flex-start;
	}
  .footer-section{
          flex: 1 1 100px !important;
  }
}
