.course-card {
  display: flex;
  background: var(--background-white);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-xl);
  overflow: hidden;
  max-width: 600px;
  width: 100%;
  transition: transform 0.2s ease;
}

.course-card:hover {
  transform: translateY(-5px);
}

.card-img {
  width: 200px;
  height: 100%;
  object-fit: cover;
}

.card-body {
  padding: var(--space-lg);
  display: flex;
  flex-direction: column;
}

.card-body h2 {
  font-size: var(--font-xl);
  font-weight:var(--font-bold);
  margin-bottom: var(--space-xs);
}

.card-mode {
  font-size:var(--font-ls);
  color:var(--des-color);
  margin-bottom: var(--font-md);
}

.card-desc {
  font-size: var(--font-md);
  color: var(--des-color);
  flex-grow: 1;
}

.card-link {
  color: var(--link-color);
  font-weight: var(--font-medium);
  text-decoration: none;
  margin-top: var(--space-md);
}

@media (max-width: 768px) {
  .course-card {
    flex-direction: column;
    align-items: center;
  }
  

  .card-img {
    width: 100%;
  }

  .card-body {
    padding: var(--space-md);
    text-align: center;
  }

  .card-body h2 {
    font-size: var(--font-lg);
  }
}
@media (max-width: 350px) {
  .enroll-card table tbody{
    display: flex;
    width: 270px;
    flex-direction: column;
  }
  .enroll-card table tbody tr{
    /* width: 100% !important; */
    display: flex;

  }
  tbody, td, tfoot, th, thead, tr{
    width: 100% !important;
  }
  
}
